.container {
  background-image: url("../static/background.jpg");
  width: 100%;
  height: 800px;
  position: fixed;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 1200px;
  height: 600px;
  position: relative;
  margin-left: 170px;
  margin-top: 80px;
}
